<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.we.androidwezhibo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".common.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".TempActivity"></activity>
        <activity android:name=".mine.SetActivity" />
        <activity
            android:name=".home.classdetail.ClassDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity android:name=".home.livedetail.LiveDetailActivity" />
        <activity android:name=".home.livelist.LiveListActivity" />
        <activity android:name=".home.teacherlist.TeacherListActivity" />
        <activity android:name=".home.classlist.ClassListActivity" />
        <activity android:name=".home.message.MessageActivity" />
        <activity android:name=".home.history.HistoryActivity" />
        <activity android:name=".home.filter.FilterActivity" />
        <activity android:name=".login.IPSetActivity" />
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".splash.GuideActivity" />
        <activity
            android:name=".splash.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>